services:
  php:
    build:
      context: ./php
    volumes:
      - ./src:/var/www/html
    expose:
      - "9000"
    networks:
      - webproxy

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - webproxy

networks:
  webproxy:
    driver: bridge