services:
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - webproxy

networks:
  webproxy:
    driver: bridge